
<section ng-init="find()">
    <div ng-repeat="brand in brands">
        <h1><a ng-href="brands/{{brand._id}}">{{brand.title}}</a></h1>
        <div>
            <span class="badge badge-success">Posted {{brand.created | date:'medium'}}</span>
            <div class="pull-right"><span class="badge badge-success">Posted by {{brand.creator.username}}</span></div>
        </div>
        <hr>
    </div>
    <h1 ng-hide="!brands || brands.length">No brands yet. <br> Why don't you <a href="/brands/create">Create One</a>?</h1>
</section>